on init
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

on boot
    chown system system /sys/class/qcom-battery/reverse_chg_mode
    chmod 0644 /sys/class/qcom-battery/reverse_chg_mode
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dimlayer_exposure
    chmod 0644 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dimlayer_exposure
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/hbm_enabled
    chmod 0644 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/hbm_enabled

# Migrate tasks again in case kernel threads are created during boot
on property:sys.boot_completed=1
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock
    capabilities BLOCK_SUSPEND
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    socket audio_hw_socket seqpacket 0666 system system
    onrestart restart audioserver

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 70: msm_drm0
    # IRQ 222: kgsl_3d0_irq
    write /proc/irq/70/smp_affinity_list 2
    write /proc/irq/222/smp_affinity_list 1

    # CPUFreq
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 10000
    write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/down_rate_limit_us 5000

    # Configure uclamp
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/background/cpu.uclamp.max 50
    write /dev/cpuctl/system-background/cpu.uclamp.max 50
    write /dev/cpuctl/dex2oat/cpu.uclamp.max 60
    # Setup cpu.shares to throttle background groups (bg ~ 5% sysbg ~ 5% dex2oat ~2.5%)
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 1024
    write /dev/cpuctl/dex2oat/cpu.shares 512
    write /dev/cpuctl/system/cpu.shares 20480
    # We only have system and background groups holding tasks and the groups below are empty
    write /dev/cpuctl/camera-daemon/cpu.shares 20480
    write /dev/cpuctl/foreground/cpu.shares 20480
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480
    write /dev/cpuctl/rt/cpu.shares 20480
    write /dev/cpuctl/top-app/cpu.shares 20480

    # CPUSets
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,6
    setprop dalvik.vm.dex2oat-threads 6

    # Disable multiple kswapd threads
    write /proc/sys/vm/kswapd_threads 1

    # Enable suspend to RAM
    write /sys/power/mem_sleep "deep"
